.countdown_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	margin: 0;
	color: black;

	background: linear-gradient(
		to left top,
		rgb(251, 146, 255),
		rgb(255, 137, 220)
	);
}

.countdown_wrapper p {
	margin: 0;
}

.countdown_wrapper a {
	text-decoration: underline;
	color: black;
}
