Ayush Jain <ayushj4@uci.edu> AyushJain2021 <ayushj4@uci.edu>
Joseph Sweatt <jsweatt@uci.edu> Electric108 <106860652+Electric108@users.noreply.github.com>
Jason Martin <jasonbm2@uci.edu> jasonbm2 <149893086+jasonbm2@users.noreply.github.com>
Jason Martin <jasonbm2@uci.edu> jasonbm2 <jasonbradymartin@gmail.com>
Phuong Luong <pluong3@uci.edu> luongp134 <80845739+luongp134@users.noreply.github.com>
Jesse David <jessecd@uci.edu> Jesse David <114846268+jessed7@users.noreply.github.com>
Kristopher Doan <doankv@uci.edu> Kuhris-Doughn <doankv@uci.edu>
Helen Chau <chauh4@uci.edu> Helen <helenkachau@gmail.com>
Jason Martin <jasonbm2@uci.edu> Jason Martin <jasonbradymartin@gmail.com>
Jesse David <jessecd@uci.edu> Jesse David <jcdavid172@gmail.com>

