.headerImage {
	display: flex;
	width: 100%;
	height: 65dvh;
	object-fit: cover;
	object-position: right top;
}

.headline h1 {
	margin: 0;
}

.headline p {
	margin: 0;
	font-size: 1.8rem;
}

.content {
	display: flex;
	flex-direction: column;
}

.content p {
	max-width: 35%;
	min-width: 400px;
}

.contentWithImage {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.contentWithImage .text {
	max-width: 650px;
}

.contentWithImage img {
	height: 300px;
	width: auto;
	margin: 0 2rem;
}

.centerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 75%;
	min-width: 350px;
	padding: 50px 0;
	text-align: center;

	border: solid 2px var(--black);
	border-radius: 20px;
}

.centerContainer p {
	min-width: 50%;
}
