.irisHeadliner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-top: 5rem;
	padding-bottom: 2rem;
}

.bigText {
	font-size: 1.2rem;
}

.irisHeadliner p {
	text-align: center;
	font-size: 2rem;
}

.irisHeadlinerImage {
	border: solid var(--black) 2px;
	border-radius: 50px;
	height: 15rem;
	width: auto;
}

.platformIcon {
	font-size: 1.4rem;
	margin: 10px;
	color: var(--gray);
}

.featuresFlex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.featureHeader {
	margin: 0;
	padding: 0;
}

.newToolkit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.newToolkit img {
	width: 95%;
	border-radius: 20px;
	border: solid var(--black) 2px;
}

.featureList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	list-style: none;
	margin: 0;
	padding: 0;
}

.featureList li {
	background-color: white;
	width: 100%;
	max-width: 20rem;
	border: solid var(--black) 0.1rem;
	border-radius: 1rem;

	padding: 20px;
	margin: 20px;
}

.featureList li p {
	color: var(--gray);
}

.featureList li img {
	width: 95%;
	height: auto;
	border-radius: 1rem;
}

.openSourceContainer {
	display: flex;
	justify-content: center;
}

.openSourceStatement {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: var(--black);
	color: var(--white);

	padding: 2rem 1rem;
	border-radius: 20px;
	max-width: 80%;
}

.openSourceStatement h2 {
	color: var(--light-blue);
}

.openSourceStatement p {
	max-width: 80%;
	color: var(--white);
}

.basedOnResearch {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.basedOnResearch img {
	max-width: 500px;
	width: 100%;
	min-width: 300px;
	margin: 2.5rem 0;
	border-radius: 10px;
}

.sideText {
	max-width: 35rem;
}

.blueHighlight {
	color: var(--light-blue);
}

@media only screen and (max-width: 30rem) {
	.irisHeadliner {
		padding-top: 10rem;
	}

	.irisHeadliner h1 {
	}

	.irisHeadliner p {
	}

	.irisHeadlinerImage {
		width: 95%;
		height: auto;
	}

	.platformIcon {
		font-size: 1rem;
		margin: 5px;
	}

	.basedOnResearch img {
		min-width: 95dvw;
		margin: 3.5rem 0;
	}
}
