// newsWithId.scss
// Ojos Project
@mixin centered-flex() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-us-body {
    @include centered-flex()
}

.join-us-container {
    margin: 25px;
    max-width: 500px;

    .news-author-container {
        img {
            border-radius: 100px;
            margin: 0 10px;
        }

        display: flex;
        align-items: center;
        text-decoration: none;
    }
}

blockquote {
    border-left: 3px solid lightcoral;
    padding: 5px 10px;
    margin-left: 0;
}

.news-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    img {
        width: 100%;
    }
}

.news-stand {
    @include centered-flex();
    margin: 20px;
}

.news-stand-article {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1000px;
    margin: 30px 0;
    padding: 5px;

    text-decoration: none;

    .article-title {
        text-decoration: underline;
    }

    .news-stand-article-image {
        object-fit: cover;
        height: 100%;
        min-width: 250px;
        max-height: 150px;
    }

    p {
        text-decoration: none;
    }

    .news-stand-article-text {
        width: 100%;
    }

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
    }
}
