// Root.scss
// Ojos Project
//
// Styles the content displayed in `/`.
// To compile to CSS, run
// sass --watch src/styles:src/styles
.story {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    flex-wrap: wrap-reverse;

    height: 75dvh;

    .story_text {
        flex: 2;
      
        max-width: 500px;
      
        margin: 0 20px;
        text-align: left;
    }
      
    .story_image {
        margin: 0 20px;
      
        max-height: 396px;
        max-width: 528px;
      
        border-radius: 20px;

        @media screen and (max-width: 767px) {
            width: 300px;
            height: 240px;
            margin-top: 20px;
        }
    }
}

.our_team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin: 100px 0;

    .team_members {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      
        flex-wrap: wrap;
    }
}

.member_container {
    height: 100px;
    width: 300px;

    margin: 10px;

    text-align: center;

    line-height: 5px;

    a, h3 {
        font-size: 20px;
        text-decoration: underline;
    }
}
