// index.scss
// Ojos Project

body {
    font-family: Arial, Helvetica, sans-serif;

    p, li {
        line-height: 25px;
    }

    p {a {text-decoration: underline;}}
}

.countdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px;

    height: 75dvh;

    .countdown {
        font-size: 120px;
        margin: 20px 0;

        @media screen and (max-width: 767px) {
            font-size: 50px;
        }
    }
}

.symposium-light {background-image: linear-gradient(#ffd200, transparent)}
.symposium-dark {background-image: linear-gradient(#0064a4, transparent)}

.story {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap-reverse;

    min-height: 75dvh;

    .story_text {
        flex: 2;
        
        max-width: 500px;
        
        margin: 0 20px;
        text-align: left;
    }

    .story_image {
        margin: 0 20px;
        
        // max-height: 396px;
        max-width: 528px;
        
        border-radius: 20px;

        @media screen and (max-width: 767px) {
            max-width: 300px;
            margin-top: 20px;
        }
    }
}

.our_team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 100px 0;

    .team_members {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        flex-wrap: wrap;
    }
}

.lightMemberBackground {
    &:hover {
        background-color: rgb(240, 240, 240);
    }
}

.darkMemberBackground {
    &:hover {
        background-color: rgb(50, 50, 50);
    }
}

.member_container {
    width: 300px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;

    &:hover {
        text-decoration: none;
    }

    img {
        margin: 10px;
        border-radius: 10px;
    }

    p {
        line-height: 5px;
    }

    h3 {
        font-weight:normal;
        text-decoration: underline;
        font-size: 20px;
    }
}
