:root {
	--black: #16171a;
	--white: white;
	--blue: #0063d7;
	--dark-blue: #094595;
	--light-blue: #83b3f3;
	--gray: rgb(90, 90, 90);

	color: var(--black);
	background-color: var(--white);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

h1 {
	font-size: 3rem;
	color: var(--black);
	margin: 0;
}

h2 {
	color: var(--blue);
	font-size: 2.5rem;
	margin: 0;
}

h3 {
	color: var(--black);
	font-size: 1.6rem;
}

p {
	font-size: 1rem;
	color: var(--black);
}

a {
	font-size: 1rem;
	color: var(--black);
	text-decoration: underline;
}

.bigText {
	font-size: 1.2rem;
}

section {
	margin: 0 1.5rem;
	background-color: var(--white);
}

button {
	font-size: 1rem;
}

button.primary {
	font-weight: bold;
	padding: 10px 25px;
	min-width: 100px;
	border-radius: 20px;
	margin: 5px;

	color: var(--white);
	background-color: var(--blue);
	border: solid transparent 2px;
}

button.primary:hover {
	text-decoration: none;
	color: var(--white);
	background-color: var(--dark-blue);
	cursor: pointer;
}

button.primary:disabled {
	background-color: var(--gray);
}

button.primary:hover:disabled {
	cursor: not-allowed;
	background-color: var(--gray);
}

button.secondary {
	font-weight: bold;
	padding: 10px 25px;
	min-width: 100px;
	border-radius: 20px;
	margin: 5px;

	color: var(--blue);
	background-color: var(--white);
	border: solid var(--blue) 2px;
}

button.secondary:hover {
	text-decoration: none;
	color: var(--blue);
	cursor: pointer;
}

.space {
	height: 60px;
}

@media only screen and (max-width: 30rem) {
	section {
		margin: 0 0.5rem;
	}

	.space {
		height: 80px;
	}
}
