.promoIris {
	display: flex;
	align-items: center;
	justify-content: space-around;

	padding: 1rem;
}

.promoIris h1 {
	margin: 0;
	font-size: 3rem;
}

.promoText {
	font-size: 1rem;
	width: 35rem;
}

.promoIris img {
	width: 100%;
	max-width: 35rem;
	margin: 2rem;
	border-radius: 20px;
}
