.productPromo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap-reverse;

	padding: 1rem;
}

.productPromo .promoText {
	width: 35rem;
}

.productPromo img {
	width: 100%;
	max-width: 35rem;
	margin: 2rem;
	border: solid 1px var(--black);
	border-radius: 20px;
}

@media only screen and (max-width: 30rem) {
	.productPromo img {
		margin: 1rem 0;
	}
}
