.irisContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 20px 0;
}

.irisDetails {
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.irisDetails h1 {
	font-size: 5rem;
	margin: 0;
}

.tagline {
	font-size: 3.5rem;
	text-align: center;
	margin: 0;
}

.irisPlatforms {
	font-size: 0.9rem;
	color: rgb(192, 192, 192);
}

.irisImage,
.palliaviewImage {
	width: 50dvw;
	height: auto;

	border-radius: 20px;
}

.palliaviewContainer {
	display: flex;
	flex-direction: column;

	margin-top: 20px;
	margin-bottom: 20px;
}

.palliaviewDetails {
	padding: 20px 0;
}

.palliaviewDetails h1 {
	font-size: 4rem;
	margin: 0;
}

.palliaviewDetails p {
	font-size: 2.5rem;
	margin: 0;
}

.palliaviewImageTextContainer {
	display: flex;
}

@media only screen and (max-width: 30rem) {
	.irisDetails h1 {
		font-size: 4rem;
	}

	.tagline {
		font-size: 2rem;
	}

	.palliaviewDetails h1 {
		font-size: 3rem;
	}

	.palliaviewDetails p {
		font-size: 1.5rem;
	}
}
