.lightMemberBackground {
	&:hover {
		background-color: rgb(240, 240, 240);
	}
}

.darkMemberBackground {
	&:hover {
		background-color: rgb(50, 50, 50);
	}
}

.member_container {
	width: 300px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;

	&:hover {
		text-decoration: none;
	}

	img {
		margin: 10px;
		border-radius: 10px;
	}

	p {
		line-height: 5px;
	}

	h3 {
		font-weight: normal;
		text-decoration: underline;
		font-size: 20px;
	}
}
