.work-showcase {
	display: flex;
	flex-direction: row;
	justify-content: center;
	//align-items: center;
	flex-wrap: wrap;
	margin: 30px 0;

	.work-showcase-left {
		flex: 2;
		min-width: 300px;
		max-width: 800px;
		margin: 10px 20px;
	}

	.work-showcase-right {
		width: 90%;
		max-width: 500px;
		margin: 0 20px;

		.work-showcase-image {
			width: 100%;
			box-shadow: 0 5px 10px lightslategrey;
		}

		.work-showcase-member-container {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-top: 20px;
		}

		.work-showcase-members-row {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			flex-wrap: wrap;

			margin-top: 5px;
		}
	}

	.button-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
