body a {
  color: black;
}

.photo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100dvh;
}

.photo_container a {
  font-size: 20px;
}

.story {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#story_text {
  flex: 2;

  min-width: 250px;

  margin: 0 20px;
  text-align: left;
}

#story_image {
  margin: 0 20px;

  max-height: 396px;
  max-width: 528px;

  height: auto;
  width: auto;

  min-height: 300px;
  min-width: 225px;

  border-radius: 20px;
}